*.class
*.jar
.idea
*.iml
.vscode
*.db

05/build
05/build.gradle
05/settings.gradle
05/gradle/**/*
05/.gradle
05/gradlew
05/gradlew.bat
05/bin
05/.classpath
05/.project
05/.settings

06/out

08/Hello
08/lib

09/out
